#wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

select{
    height: 30px;
    background-color: rgba(0, 0, 0, 0.251);
    margin-left: 40px;
    border: none;

}

.slider{
    margin-left: 900px;
    width: 200px;
}