<mat-toolbar class="menu-bar">
    <span class="title">LOVE AND KNOTS</span> 
    <ul>
      <li><a routerLink="/admin/chatbox">ChatBox</a></li>
  </ul>
  <a routerLink=""><mat-icon class="icon">exit_to_app</mat-icon></a>
</mat-toolbar>




<div class="chat">
    <body>
        <div *ngFor="let message of messages">
            <div *ngIf="message.sender === 'user'" class="admin-message">
                <div class="message-body">{{message.message}}</div>
            </div>
            <div *ngIf="message.sender === 'admin'" class="user-message">
                <div class="message-body">{{message.message}}</div>
            </div>
        </div>
    </body>
    <div class="send">
        <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(newMessage)" placeholder="Type your message...">
        <button (click)="sendMessage(newMessage)"><mat-icon>send</mat-icon></button>
    </div>
</div>
    
