.img{
    width: 100%;
    height: 100px;
    background-color: aqua;
    position: absolute;
}
.img img{
    width: 100%;
    height: 350px;
}
.arrow{
    position: absolute;
    top: 120%;
    
}
.right{
    margin-left: 60px;
    font-size: xx-large;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.187);
    border: none;
    border-radius: 5px;
    color: beige;
}
.arrow button:hover{
    background-color: rgba(0, 0, 0, 0.299);
    cursor: pointer;
}
.left{
    margin-left: 1100px;
    font-size: xx-large;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.187);
    border: none;
    border-radius: 5px;
    color: beige;
}