.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
  }
  
  .admin-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
  }
  
  .admin-message .message-body {
    background-color: #f1f0f0;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    padding: 8px 10px;
    margin-left: 10px;
    max-width: 70%;
  }
  
  .user-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0;
  }
  
  .user-message .message-body {
    background-color:rgb(229, 209, 247);
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    padding: 8px 10px;
    margin-right: 10px;
    max-width: 70%;
  }
  
  .send {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #f1f0f0;
  }
  
  .send input {
    flex: 1;
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .send button {
    background-color: #51ff00;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    /* padding: 5px 15px; */
    padding-top: 5px;
    padding-left: 10px;
    margin-left: 10px;
  }
  
  .send button mat-icon {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  