.menu-bar{
    background-color: transparent;
    color: rgb(0, 0, 0) ! important;
}

.title{
    font-size: 30px;
    font-weight: bolder;
}

ul{
    margin-left: 50px;
}
li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 20px;
}

a {
    color: rgb(0, 0, 0);
    size: 20px;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: rgb(126, 205, 0)
}

a:active {
    color: rgb(0, 85, 255);
}