.contents{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
}
.contents img{
    width: 50px;
    height: 50px;
    margin-top: 2px;
    float: left;
    border-radius: 50%;
    margin-left: 150px;
}
.cont{
    margin-left: 550px;
}
.cont button{
    margin-top: 5px;
    width: 90px;
    height: 40px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
}
.cont button:hover{
    background-color: rgba(0, 0, 0, 0.45);
}